{% extends 'base.html.twig' %}

{% block title %}ajout objet{% endblock %}

{% block body %}
<section class="content col-12 ">
<div class="card card-gray">
<div class ="card-header">
    <h1 align="center">AJOUT OBJETS DON</h1>
</div>
    <table class="table">
<div>
    <h5 align="center">DATE ET DONNATEUR</h5>
</div>
        <tbody>
            <tr>
                <th>Date</th>
                 <th>Nom Donnateur</th>
                 <th>Numero TPH</th>
                 <th>Adresse</th>               
            </tr>
            <tr>
               <td>{{ do.dateObjet ? do.dateObjet|date('d-m-Y') : '' }}</td>
               <td>{{ do.nomDonnateur }}</td>
                <td>{{ do.numeroPhone }}</td>  
                <td>{{ do.addresse }}</td>
            </tr>
        </tbody>
    </table>
<h5 align="center"> OBJETS DONS</h5>
    {{ include('objet/_form.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantite</th>
                <th>Valeur</th>
                 <th>Rubrique</th>
          </tr>
        </thead>
        <tbody>
        {% for objet in os %}
            <tr>
               <td>{{ objet.description }}</td>
                <td>{{ objet.quantite }}</td>
                <td>{{ objet.valeur }}</td>
                <td>{{ objet.rubrique.libelleRubrique }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>

    <a href="{{ path('don_objet_index') }}">voir liste</a>
{% endblock %}
