{% extends 'base.html.twig' %}

{% block title %}Rubrique{% endblock %}

{% block body %}
    <h1>Rubrique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>rubrique</th>
                <td>{{ rubrique.refrubrique }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rubrique.libellerubrique }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rubrique_index') }}">voir liste</a>
 {% if is_granted('ROLE_EDITEUR') %}
    <a href="{{ path('rubrique_edit', {'refrubrique': rubrique.refrubrique}) }}">Modifier</a>
{% endif %}
    {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
